In [1]:
import pandas as pd
import datetime as dt

In [2]:
file = "P:/Hypoteza1.csv"
data = pd.read_csv(file, sep=';', nrows=10000, 
                   names=["Id", "City", "Country", "D_uhrady", "D_splatnosti", "Diff"], 
                   parse_dates=[4,5])

In [3]:
print(data.sample(5))

       Id                   City  Country    D_uhrady D_splatnosti  Diff
7479  166                Praha 6        2  2014-05-21   2014-05-22    -1
1505   17  Bílovice nad Svitavou        2  2018-10-22   2018-10-18     4
235     5              Pelhřimov        2  2011-02-14   2011-06-21  -127
250     5              Pelhřimov        2  2011-03-08   2011-06-21  -106
9307  193            Horní Lhota        2  2016-12-31   2016-12-31     0

In [4]:
print(data.isnull().sum())

Id                0
City            127
Country           0
D_uhrady          0
D_splatnosti      0
Diff              0
dtype: int64

In [5]:
print(data.shape)

(10000, 6)

In [6]:
data.drop(data[data["D_uhrady"].isnull()].index, inplace=True)

In [7]:
print(data.isnull().sum())

Id                0
City            127
Country           0
D_uhrady          0
D_splatnosti      0
Diff              0
dtype: int64

In [8]:
print(data.dtypes)

Id                       int64
City                    object
Country                  int64
D_uhrady                object
D_splatnosti    datetime64[ns]
Diff                    object
dtype: object

In [9]:
data["Uhrada"] = [dt.datetime.strptime(d, "%Y-%m-%d") for d in data["D_uhrady"]]

In [10]:
# data["Splatnost"] = [dt.datetime.strptime(d, "%Y-%m-%d") for d in data["D_splatnosti"]]

TypeError: strptime() argument 1 must be str, not Timestamp

In [12]:
print(data.dtypes)

Id                       int64
City                    object
Country                  int64
D_uhrady                object
D_splatnosti    datetime64[ns]
Diff                    object
Uhrada          datetime64[ns]
dtype: object

In [14]:
data["rozdil"] = data["Uhrada"] - data["D_splatnosti"]

In [15]:
print(data.dtypes)

Id                        int64
City                     object
Country                   int64
D_uhrady                 object
D_splatnosti     datetime64[ns]
Diff                     object
Uhrada           datetime64[ns]
rozdil          timedelta64[ns]
dtype: object

In [16]:
print(data.head())

   Id  City  Country    D_uhrady D_splatnosti Diff     Uhrada   rozdil
0   1  Brno        2  2011-03-17   2011-04-03  -17 2011-03-17 -17 days
1   1  Brno        2  2011-03-18   2011-04-04  -17 2011-03-18 -17 days
2   1  Brno        2  2011-04-21   2011-04-07   14 2011-04-21  14 days
3   1  Brno        2  2011-04-22   2011-04-08   14 2011-04-22  14 days
4   1  Brno        2  2011-04-22   2011-04-08   14 2011-04-22  14 days